 * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Fira Sans", Tahoma, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
}

.container {
	width: 940px;
	margin: 0 auto;
	
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

ul {
	padding: 0;
	margin: 0;
}































