:root {
    --cream : #FAF2CC;
    --cream-o : rgba(250, 242, 204, 0.5);
}

.navbar-dark .navbar-toggler,
.navbar-dark img,
footer img {
    box-shadow: 0 0 2px var(--white);
}
header,
footer {
    text-shadow: 0 0 2px var(--white);
}
footer  {
    background-color: var(--dark);
    color: var(--white);
}
body {
    background-color: var(--cream);
}
main {
    background-color: var(--white);
}
main > .container {
    padding: 60px 15px 0;
}
video {
    box-shadow: 0 0 10px black;
}
#scrollTop {
    background-color: var(--dark);
    width: 39px;
    height: 39px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 8;
}
#scrollTop::after {
    content: "↑";
    font-size: 2.5em;
    line-height: 45px;
    color: var(--white);
}
#scrollTop:hover {
    cursor: pointer;
    background-color: var(--primary);
}
#scrollTop.show {
    opacity: 1;
    visibility: visible;
}
.inscription {
    position: absolute;
    text-align: center;
    width: 45%;
    margin: auto;
    top: 240px;
    left: 0;
    right: 0;
    background-color: var(--cream-o);
    border-radius: 4px;
    animation: bounceFromTop 2s ease-out;
}
.inscription a {
    color: var(--success);
    animation: bounceIn 4s;
}
.inscription:hover a {
    text-shadow: 0 0 2px var(--success);
}
.row {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.categories {
    position: sticky;
    top: 100px;
}
.categories .list-group-item:first-child {
    background-color: var(--dark);
    color: var(--white);
}
.card img {
    width: 100%;
    height: 100%;
}
.card .date {
    position: absolute;
    top: 0;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 0 0 8px 0;
}
#admin-navbar{
    display:block;
}
.tinyMCE {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 280px;
    min-height: 280px;
    max-height: 100%;
}
.embed {
    width: 300px;
    height: 80px;
    margin: 16px;
    overflow: hidden;
    position: fixed;
    bottom: -22px;
    left: -16px;
    z-index: 2;
    border-radius: 0 20px 0 0;
    background-color: rgba(255, 255, 255, 0);
    transition-property: height;
    transition-duration: 2s;
}
iframe {
    border: 0;
    height: 80px;
    transition-property: height;
    transition-duration: 2s;
}
.embed:hover {
    height: 380px;
}
iframe:hover {
    height: 380px;
}
.embed > iframe {
    width: 100%;
}
.alert {
    animation: bounceOut 8s;
}
#youtube.show > .embed {
    transition: left 3s;
    bottom: -21px;
    left: -16px;
}
#youtube > .embed {
     transition: initial;
     bottom: -401px;
     left: -252px;
}
.defilement {
    overflow: hidden;
    box-shadow:8px 0 8px -10px var(--dark) inset,-8px 0 8px -10px var(--dark) inset;
    border-radius: 2px;
}
.defilement > :first-child {
    animation: defilement 15s infinite linear;
}
@keyframes bounceIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bounceOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bounceFromTop {
    0% {
        transform: translateY(-4rem);
    }
    100% {
        transform: none;
    }
}
@keyframes defilement {
    0% {
        transform: translate3d(100%,0,0);
    }
    100% {
        transform: translate3d(-100%,0,0);
    }
}