.content {
	background-color: #f6f6f6;
	padding-top: 30px;
	height: 100%;
}

.page_content {
	float: left;
	width: 720px;
}

.portrait {
	float: left;
	width: 300px;
}

.portrait__face {
	width: 230px;
	height: 230px;
	overflow: hidden;
	border-radius: 50%;
	margin: -6px 56px;
	position: relative;
	border: 5px solid white;
}

.portrait__image {
	position: absolute;
	top: -15px;
   left: -30px;
}

.page_description {
	float: left;
	width: 380px;
	text-align: left;
	margin-left: 40px;
}

.page_description__headline {
	margin: -5px 0 0;
	font-weight: 500;
}

.page_description__button_wrapper {
	text-align: right;
	margin-top: 65px;
	height: 50px;
}

.page_description__button {
	display: inline-block;
}

.page_description__link {
	padding: 10px 20px;
	color: #e85f61;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	border: 2px solid #e85f61;
	border-radius: 50px;
}

.page_description__icon {
	margin-right: 7px;
}
















