.footer {
	background-color: #414141;
}

.design_information {
	float: left;
	width: 380px;
}

.design_information__copyright {
	line-height: 50px;
	font-size: 14px;
	font-weight: 300;
	color: #9c9c9c;
}

.socials {
	float: right;
	width: 140px;
}

.socials__list {
	list-style: none;
	padding-top: 10px;
	margin: 0;
	text-align: right;	
}

.socials__item {
	display: inline-block;
}

.socials__img {
	vertical-align: middle;
}

.socials__img:hover {
	
}


























