.sidebar {
	float: left;
	width: 220px;
}

.navigation__list {
	list-style: none;
	padding: 0;
	margin-top: 6px;
	text-align: right;
}

.navigation__item {
	margin-bottom: 25px;
	font-weight: 400;
	margin-right: 28px;
	color: #414141; 
}

.navigation__link {
	color: #414141;
}

.navigation__link:visited {
	color: #414141; 
}

.navigation__link:hover {
	color: #33c1e3;
}

.navigation__item:hover::after {
	display: inline-block;
	content: '';
	height: 44px;
	width: 6px;
	background: #33c1e3;
	margin-top: -11px;
   margin-left: 22px;
	position: absolute;
}

.navigation__icon {
	margin-right: 5px;
}