.sideMenu__list {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

.sideMenu__item {
	line-height: 42px;
	font-weight: 400;
	padding-right: 28px;
}

.sideMenu__item:hover {
	color: #33c1e3;
/*	transition: all .5s ease*/
}

.sideMenu__item:hover::after {
	display: inline-block;
	content: '';
	height: 44px;
	width: 6px;
	background: #33c1e3;
	margin-left: 22px;
	position: absolute;
}

.side_menu__link:visited {
	color: #33c1e3;
}

.sideMenu__icon {
	margin-right: 10px;
}