@media screen and (max-width: 992px)
	.container
		width: 750px

	.sidebar
		width: 100%
		margin-bottom: 35px

	.navigation__item
		display: inline-block

	.navigation__list
		text-align: left
		margin: 0

	.navigation__link
		padding: 0 60px 0 0
	
	.portrait
		width: 35%
	
	.portrait__face
		margin: 0 auto
		width: 176px
		height: 176px

	.page_description
		width: 65%
		margin: 0