@media only screen and (max-width : 480px)
	.container
		width: 95%
	
	.content
    padding-top: 15px

	.about_information__name
		font-size: 14px

	.navigation__list
		text-align: left

	.navigation__item
		font-size: 14px

	.navigation__icon
		display: none

	.portrait
		margin: 10px 0 10px

	.portrait__face
		width: 140px
		height: 140px
	
	.page_description__text
		font-size: 16px

	.page_title
		font-size: 35px





	.works-item
		width: 100%

	.works-pic-img
		width: 100%












