@media screen and (max-width: 768px)
	.container
		width: 480px

	.greeting
		width: 355px

	.contacts
		background: url(../img/icons/phone.png) center center no-repeat
		width: 32px
		height: 32px
		display: inline-block
		font-size: 0
		line-height: 80px
		margin-top: 10px

	.contacts__underline
		display: none

	.navigation__list
		text-align: justify
		width: 100%
		font-size: 0
	
	.navigation__item
		padding: 0
		font-size: 18px
		margin-left: 25px
		&:first-child
			margin-left: 0

	.navigation__link
		padding: 0
		white-space: nowrap
		&:hover
			border-right: 0px
			margin-right: 0px

	.sidebar
		margin-bottom: 35px

	.page_content
		width: 100%

	.portrait
		float: none
		width: 100%
		text-align: center
	
	.portrait__face
		display: inline-block

	.page_title__about
		margin: 0
		margin-bottom: 10px

	.page_description
		float: none
		width: 100%
		margin-left: 0
		padding-left: 0

	.page_description__text
		text-align: justify

	.portrait__face
		margin: 0

	.page_title__about
		text-align: center
		margin-bottom: -20px

	.about_btn
		text-align: center
		margin-bottom: 80px

	.footer
		height: 95px
		margin-top: -95px
	
	.design_information
		float: none
		width: 100%
		text-align: center

	.design_information__copyright
		display: inline-block
		line-height: 45px

	.socials
		float: none
		width: 100%
		padding-top: 0
		text-align: center

	.socials__list
		display: inline-block

	.about_btn
		margin-bottom: 50px


	.page_title__career
		margin: 0
		margin-bottom: 20px
		text-align: center

	.career__image
		float: none
		width: 230px
		margin: 0 auto 20px
	
	.jobs
		float: none
		width: 100%
		text-align: center

	.jobs__item
		width: 440px

	.jobs__year
		display: none

	.jobs__item:after, .jobs__item:before
		display: none




	
	.page_title__portfolio
		text-align: center
		margin: 0
		margin-top: -10px
		margin-bottom: 25px

	.works-item
		display: inline-block
		width: 230px
		margin-right: 20px

	.works-item:nth-child(2n)
		margin-right: 0

	.works-item:nth-child(3n)
		margin-right: 20px

	


	.footer
		height: 95px
		margin-top: -95px

	.wrapper
		&:after
			height: 95px
	
