<div class="row mx-0 my-4">
    <div class="col text-center">
<!--        <a class="btn btn-danger" data-toggle="collapse" href="#youtube" role="button" aria-expanded="false" aria-controls="youtube">Youtube</a>-->
        <a class="btn btn-success" data-toggle="collapse" href="#spotify" role="button" aria-expanded="false" aria-controls="spotify"
           style="background: url('assets/img/spotify.png') center;background-size: cover;width: 100px;height: 40px;"></a>
    </div>
    <div id="choice">
        <div class="collapse" id="youtube" data-parent="#choice">
            <div class="embed">
<!--                <iframe src="https://www.youtube.com/embed/videoseries?list=OLAK5uy_nWMx__XbIVuM8qnlu9DFG3lltRqrlZcZ8" width="300" height="380" allowfullscreen></iframe>-->
            </div>
        </div>
        <div class="collapse" id="spotify" data-parent="#choice">
            <div class="embed">
                <iframe src="https://open.spotify.com/embed/album/6kcDKcht2MzEizeqtioYtP" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>